<%= simple_form_for :query, url: lcms_engine.admin_users_path, html: { method: :get } do |f| %>
  <div class='row align-items-end'>
    <%= f.input :email, label: false, required: false, placeholder: 'Search by E-mail', wrapper_html: { class: 'o-admin-search-term flex-grow-1 col-auto' } %>
    <%= f.input :access_code, label: false, required: false, placeholder: 'Enter Access Code', wrapper_html: { class: 'o-admin-search-termflex-grow-1 col-auto' } %>
    <div class="col-auto mb-3">
      <%= f.button :submit, t('ui.search'), class: 'btn btn-warning', name: nil %>
    </div>
  </div>
<% end %>
